<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>lab 4</title>
    <script src="../scripts/index.js" type="text/javascript"></script>
    <link href="../styles/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam id aspernatur dolorem
        quibusdam beatae repellendus laborum, tenetur perspiciatis soluta eum? Exercitationem at
        nobis reprehenderit quasi unde vero eos hic iusto!
      </p>
      <div class="handle-elements">
        <button id="new-window">Open new window</button>
        <select>
          <option>beach</option>
          <option>flower</option>
          <option>forest</option>
        </select>
        <input type="text" id="option-input" />
        <button id="add-item">Add item</button>
      </div>
      <div class="images">
        <img src="../img/beach.jpeg" />
        <img src="../img/flower.jpeg" class="hidden" />
        <img src="../img/forest.jpg" class="hidden" />

        <img src="../img/empty.png" id="default-image" class="hidden" />
      </div>
    </main>
  </body>
</html>
